[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
kafka-python = "*"

[dev-packages]
pytest = "*"
black = "*"
flake8 = "*"
flake8-bugbear = "*"
flake8-deprecated = "*"
flake8-executable = "*"
bandit = "*"
isort = "*"
abstract-analyzer = {file = "abstract_analyzer", editable = true}

[requires]
python_version = "3.11"

[analyzer_vader]
vadersentiment = "*"
abstract-analyzer = {file = "deps/abstract_analyzer-0.1.0.tar.gz"}

[analyzer_nltk]
nltk = "*"
abstract-analyzer = {file = "deps/abstract_analyzer-0.1.0.tar.gz"}

[bill_retriever]
pydantic-settings = "*"
aiohttp = "*"
