[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
kafka-python = "*"

[dev-packages]
pytest = "*"
black = "*"
flake8 = "*"
flake8-bugbear = "*"
flake8-deprecated = "*"
flake8-executable = "*"
bandit = "*"
isort = "*"

[requires]
python_version = "3.11"

[analyzer_vader]
vadersentiment = "*"

[analyzer_nltk]
nltk = "*"

[bill_retriever]
pydantic-settings = "*"
aiohttp = "*"
